	<section id="fh5co-home" data-section="home" style="background-image: url(images/athenaeum_small.jpg);" data-stellar-background-ratio="0.5">
		<div class="gradient"></div>
		<div class="container">
			<div class="text-wrap">
				<div class="text-inner">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<h1 class="to-animate">{{ with .Site.Params.hero.title }}{{ . | markdownify }}{{ end }}</h1>
							<h2 class="to-animate">{{ with .Site.Params.hero.subtitle }}{{ . | markdownify }}{{ end }}</h2>
							<h2>
						<!--<a style="margin:10px;" href="Stemmen_op_DAA.ics" class="to-animate btn btn-primary"><i class="icon-calendar"></i> Stem DAA reminder</a> -->
							  <a style="margin:10px;" href="mailto:info@deamsterdamseacademie.nl?subject=Aanmelding DAA&body=Voornaam:%0A%0AAchternaam:%0A%0AEmail:%0A%0AContributie type €10,- %0AStemgerechtigd UvA medewerker%0AStemgerechtigd UvA promovendus/aio/postdoc %0ADonateur%0A%0AStraat:%0A%0AHuisnummer:%0A%0APostcode:%0A%0AWoonplaats:%0A%0AWerkgever:%0A%0AFaculteit/Afdeling:%0A%0ABankrekening IBAN:%0A%0AIk machtig DAA om de contributie van mijn rekening af te schrijven (Ja/Nee):%0A%0AIk ga akkoord met de Privacy Statement van DAA (Ja/Nee):%0Ahttp://www.deamsterdamseacademie.nl/intro/privacy/
%0A%0AOpmerkingen:
" target="_blank" class="to-animate btn btn-primary"><i class="icon-pencil"></i> Lid worden</a>
							</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="slant"></div>
	</section>